{{ 'section.css' | asset_url | stylesheet_tag }}
{{ 'slideshow.css' | asset_url | stylesheet_tag }}
{{ 'content-position.css' | asset_url | stylesheet_tag }}
{{ 'slider-settings.css' | asset_url | stylesheet_tag }}
{{ 'button-style.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign image_mb = section.settings.image_mb
  assign image = section.settings.image | default: image_mb
  assign mb_image = image_mb | default: image
  if section.settings.layout == 't4s-container-wrap'
    assign html_layout = '<div class="t4s-container">__</div>' | split: '__'
  else
    assign html_layout = '__' | split: '__'
  endif

  assign t4s_se_class = 't4s_nt_se_' | append: section.id

  if section.settings.use_cus_css and section.settings.code_cus_css != blank
    render 'se_cus_css', code_cus_css: section.settings.code_cus_css, t4s_se_class: t4s_se_class
  endif

  assign load = 'lazy'
  if section.index < 3
    assign load = 'eager'
  endif
-%}

{%- style -%}
  .t4s-item-container-product__infomation {
       display: flex;
       width: 100%;
       gap: {{section.settings.s_p_item | plus: 0 | divided_by: 10}}rem;
       align-items: end;
   }
  .t4s-item-container-product {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }

   img.t4s-img-as-bg.t4s-slide- {
    object-fit: cover;
    width: 100%;
  }

  .t4s-button-product__item {
       background-color: #F92C2C;
       width: 240px;
       height: 60px;
       color: #FFF;
       border: none;
       font-size: 20px;
       border-radius: 60px;
       font-weight: 500;
       padding: 0px 61px;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       z-index: 100;
       transition: .3s ease-in-out;
   }
   .t4s-button-product__item:hover, .t4s-fbt__submit:hover {
      background-color: var(--accent-color-darken) !important;
   }
   
   .t4s-fbt__submit {
      transition: .3s ease-in-out;
   }

   .t4s-item-container-product span:nth-child(2){
      font-size: 40px !important;
    }

   @media (max-width: 767px) {

    .t4s-button-product__item {
      font-size: 16px;
      width: 210px;
      height: 33px;
    }
    .t4s-item-container-product span:nth-child(2){
      font-size: 25px !important;
    }
   }



   @media (min-width: 1440px) {
      .rtl_true .t4s-item-container-product__infomation {
          bottom: 95px;
          left: 10%;
          right: 0px;
          justify-content: end;
          padding-left: 15rem;
      }

      .t4s-item-container-product__infomation {
           bottom: {{section.settings.p_b_item}}px;
           right: {{section.settings.p_r_item}}px;
           justify-content: end;
      }

      .rtl_true .t4s-pa.t4s-item-container-product {
           bottom: {{section.settings.p_b_item}}px;
           right: {{section.settings.p_r_item}}px;
           align-items: start;
           justify-content: start;
      }

      .t4s-item-container-product {
           bottom: {{section.settings.p_b_item}}px;
           left: 10%;
      }

      .t4s-fbt__products {
        display: flex;
        justify-content: center;
      }
   }


   @media (max-width: 1440px) {
       .t4s-item-container-product__infomation {
           display: none;
        }
       .t4s-item-container-product {
           bottom: 5%;
           left: 50%;
           right: 50%
        }
   }
{%- endstyle -%}

<div id="{{ section.id }}" class="{{ t4s_se_class }}">
  {{- html_layout[0] -}}
  <div class="t4s-gx-0 t4s_cover">
    <div class="t4s-pr">
      {%- if image -%}
        {% liquid
          assign fetchpriority = 'auto'
          if forloop.first
            assign fetchpriority = 'high'
          endif
          if section.settings.image_mb == blank
            assign class = 't4s-img-as-bg t4s-slide-' | append: section.settings.animate_slide
            echo image | image_url: width: image.width, format: 'pjpg' | image_tag: class: class, alt: image.alt, loading: load, size: '100vw', widths: '100,200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000,2100,2200,2300,2400,2500,2600,2700,2800,2900,3000,3400,3600,3800,4000', fetchpriority: fetchpriority
          else
            assign class = 't4s-img-as-bg t4s-d-none t4s-d-md-block t4s-slide-' | append: section.settings.animate_slide
            echo image | image_url: width: image.width, format: 'pjpg' | image_tag: class: class, alt: image.alt, loading: load, size: '100vw', widths: '100,200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000,2100,2200,2300,2400,2500,2600,2700,2800,2900,3000,3400,3600,3800,4000', fetchpriority: fetchpriority

            assign class = 't4s-img-as-bg t4s-d-md-none t4s-slide-' | append: section.settings.animate_slide
            echo mb_image | image_url: width: mb_image.width, format: 'pjpg' | image_tag: class: class, alt: mb_image.alt, loading: load, size: '100vw', widths: '375, 550, 750, 1100', fetchpriority: fetchpriority
          endif
        -%}
      {%- else -%}
        {%- capture current -%}{% cycle 1, 2 %}{%- endcapture -%}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 't4s-placeholder-svg t4s-svg-bg1' }}
      {%- endif -%}

      <div
        style="
          width: 100%;
          height: 50%;
          position: absolute;
          background: linear-gradient(182deg, rgba(225, 221, 221, 0.09) 22.28%, rgba(39, 38, 38, 0.62) 72.2%, rgba(1, 1, 1, 0.90) 97.92%);
          filter: blur(25px);
          bottom: 25px;
        "
      ></div>

      <div class="t4s-container-product">
        <div class="t4s-pa t4s-item-container-product">
          <span style="font-size: 16px">Just</span>
          <span style="color: #FFFFFF">{{ section.settings.product.price | money }}</span>
          <a
            href="{{ section.settings.button_link }}"
            class="t4s-button-product__item"
          >
            {{- section.settings.button_text }}
          </a>
        </div>

        <div
          class="t4s-pa t4s-item-container-product__infomation"
        >
          {% for item in section.blocks %}
            <div class="t4s-item-product__infomation">
              <div class="{{ section.settings.text_align }}" style="display: flex;flex-direction: column">
                <span style="color: {{ section.settings.label_color }};font-weight: 500;font-size: {{ section.settings.label_size | divided_by: 10}}rem;line-height: 5rem;">
                  {{- item.settings.label -}}
                </span>
                <span
                  style="
                    color: {{ section.settings.des_color }};
                    font-size: {{ section.settings.des_size | divided_by: 10}}rem;
                    font-weight: 500;
                    font-style: normal;
                    line-height: 1;
                  "
                >
                  {{- item.settings.description -}}
                </span>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {{- html_layout[1] -}}
</div>
<div class="{{ t4s_se_class }}">
  {%- render 'section_tophead', se_stts: section.settings -%}
</div>
<div style="display: flex; justify-content: center">
  {%- render 'FBT', product: section.settings.product, is_section: true -%}
</div>

{% schema %}
{
  "name": "FBT Section",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "1. Heading options"
    },
    {
      "type": "text",
      "id": "top_heading",
      "label": "+ Heading",
      "default": "Heading"
    },
    {
      "type": "select",
      "id": "design_heading",
      "label": "+ Design heading",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Design 01"
        },
        {
          "value": "2",
          "label": "Design 02"
        },
        {
          "value": "3",
          "label": "Design 03"
        },
        {
          "value": "4",
          "label": "Design 04"
        },
        {
          "value": "5",
          "label": "Design 05"
        },
        {
          "value": "6",
          "label": "Design 06 (with line-awesome)"
        },
        {
          "value": "7",
          "label": "Design 07"
        },
        {
          "value": "8",
          "label": "Design 08"
        },
        {
          "value": "9",
          "label": "Design 09"
        },
        {
          "value": "10",
          "label": "Design 10"
        },
        {
          "value": "11",
          "label": "Design 11"
        },
        {
          "value": "12",
          "label": "Design 12"
        },
        {
          "value": "13",
          "label": "Design 13"
        },
        {
          "value": "14",
          "label": "Design 14"
        },
        {
          "value": "15",
          "label": "Design 15"
        },
        {
          "value": "16",
          "label": "Design 16"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "+ Heading align",
      "default": "t4s-text-center",
      "options": [
        {
          "value": "t4s-text-start",
          "label": "Left"
        },
        {
          "value": "t4s-text-center",
          "label": "Center"
        },
        {
          "value": "t4s-text-end",
          "label": "Right"
        }
      ]
    },
    {
      "type": "text",
      "id": "icon_heading",
      "label": "Enter an icon name",
      "info": "Only used for design 6 [LineAwesome](https://kalles.the4.co/font-lineawesome/)",
      "default": "las la-gem"
    },
    {
      "type": "textarea",
      "id": "top_subheading",
      "label": "+ Subheading"
    },
    {
      "type": "number",
      "id": "tophead_mt",
      "label": "+ Space top (px)",
      "info": "The vertical spacing between heading and content",
      "default": 30
    },
    {
      "type": "number",
      "id": "tophead_mb",
      "label": "+ Space bottom (px)",
      "info": "The vertical spacing between heading and content",
      "default": 30
    },
    {
      "type": "header",
      "content": "Setting layout"
    },
    {
      "type": "select",
      "id": "layout",
      "default": "t4s-container-fluid",
      "label": "Layout",
      "options": [
        {
          "value": "t4s-container-wrap",
          "label": "Wrapped container"
        },
        {
          "value": "t4s-container-fluid",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product setting"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1800 x 600px .jpg recommended"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products",
      "limit": 10
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button label",
      "default": "Button label",
      "info": "If set blank will not show"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link",
      "info": "If set blank will not show"
    },
    {
      "type": "select",
      "id": "fontf",
      "default": "inherit",
      "label": "Font family",
      "options": [
        {
          "label": "Inherit",
          "value": "inherit"
        },
        {
          "label": "Font Family #1",
          "value": "1"
        },
        {
          "label": "Font Family #2",
          "value": "2"
        },
        {
          "label": "Font Family #3",
          "value": "3"
        }
      ]
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "options": [
        {
          "label": "Default",
          "value": "default"
        },
        {
          "label": "Outline",
          "value": "outline"
        },
        {
          "label": "Bordered bottom",
          "value": "bordered"
        },
        {
          "label": "Link",
          "value": "link"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text align",
      "default": "t4s-text-center",
      "options": [
        {
          "value": "t4s-text-start",
          "label": "Left"
        },
        {
          "value": "t4s-text-center",
          "label": "Center"
        },
        {
          "value": "t4s-text-end",
          "label": "Right"
        }
      ]
    },
    {
      "id": "s_p_item",
      "type": "range",
      "label": "Space item",
      "min": 10,
      "max": 100,
      "step": 1,
      "default": 20,
      "unit": "px"
    },
    {
      "id": "p_b_item",
      "type": "range",
      "label": "Space bottom",
      "min": 10,
      "max": 200,
      "step": 5,
      "default": 50,
      "unit": "px"
    },
    {
      "id": "p_r_item",
      "type": "range",
      "label": "Space right",
      "min": 10,
      "max": 200,
      "step": 5,
      "default": 50,
      "unit": "px"
    },
    {
      "id": "label_size",
      "type": "range",
      "label": "Label font size",
      "min": 16,
      "max": 50,
      "step": 1,
      "default": 16,
      "unit": "px"
    },
    {
      "id": "label_color",
      "type": "color",
      "label": "Label color"
    },
    {
      "id": "des_size",
      "type": "range",
      "label": "Description font size",
      "min": 16,
      "max": 50,
      "step": 1,
      "default": 16,
      "unit": "px"
    },
    {
      "id": "des_color",
      "type": "color",
      "label": "Description color"
    },
    {
      "type": "header",
      "content": "+ Custom css"
    },

    {
      "id": "use_cus_css",
      "type": "checkbox",
      "label": "Use custom css",
      "default": false,
      "info": "If you want custom style for this section."
    },
    {
      "id": "code_cus_css",
      "type": "textarea",
      "label": "Code custom css",
      "info": "Use selector. SectionID to style css"
    }
  ],
  "blocks": [
    {
      "type": "product_item",
      "name": "Product Item",
      "limit": 3,
      "settings": [
        {
          "id": "label",
          "type": "text",
          "label": "Label"
        },

        {
          "id": "description",
          "type": "textarea",
          "label": "Label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Fetured Product 2"
    }
  ]
}
{% endschema %}
